<html>
<head>
  <title> CRUD APP </title>
  <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel='shortcut icon' href="{{url_for('static', filename = 'teacher.png')}}">
</head>

<body>
<div class="container">
    <div class="well text-center">
        <h1> Python Flask Crud WEB APP </h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <h2> student list <button type="button" class="btn btn-success pull-right" data-toggle= "modal" data-targe = "#mymodal" >Add Student Data</button></h2>
            </div>
        </div>

        <table class="table table-striped">

        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
            
        </tr>
        <tr>
            <td>01</td>
            <td>JUAN</td>
            <td>juancra264@hotmail.com</td>
            <td>3152211109</td>
            <td>
                <a href="" class="btn btn-warning bt-xs" data-toogle="modal" data-target="#modaledit">Edit</a>
                 <a href="" class="btn btn-danger bt-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>

        </tr>

        </table>    

    </div>
    
    
    <div class="well">
        <h3> website: www.j2rtech.com.co
            <span class="pull-right"> Copy rights 2019</span>
        </h3>
    </div>
</div>
</body>
